

<div class="icon-bar {{if session.isAuthenticated 'three-up' 'two-up'}}">
	{{#link-to 'index'  class="item"}}
			<i class="fi-home"></i>
			<label>Accueil  &nbsp;&nbsp;&nbsp;&nbsp;</label>
	{{/link-to}}	

	{{#link-to 'description'  class="item"}}
			<i class="fi-clipboard"></i>
			<label>R&egrave;gles de jeu</label>
	{{/link-to}}

		{{#if session.isAuthenticated}}
		<a class=item {{action 'invalidateSession'}}>
				<i class="fi-power"></i>
				<label>Se déconnecter</label>
		</a>	
			
		{{/if}}

</div>

{{outlet}}
<br /><br />

<footer>
	<p>Nombre de joueurs : <b>0{{nombreJoueurs}}</b></p>
	<p>Parties en cours :<b>{{nombrePartie}}</b></p>
</footer>
