<span class="profil"><img src={{imgurl}}  /> &nbsp; Bienvenue <b>{{username}} </b><br /></span>
<form>
    <h2>Cr&eacute;er une partie</h2>
    <p>Choisissez la mise minimale, de 2 à 10  joueurs <!--(par la position du curseur) -->et cr&eacute;er votre partie !</p>
	<div class="row"> 
		<div class="large-12 columns">
			<label>Mise minimale {{input type='number' min='5' value=blind}}</label>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<label><span id=sliderOutput></span> joueurs
				{{range-slider id='slider' start=2 end=10 value=nplayers}}
			</label>
		</div>
	</div>


	<div class="row">
		<div class="large-12 columns">
			<button {{action 'newgame'}} >Créer &nbsp;<i class="fi-die-three"></i> </button>
		</div>
	</div>
	

</form>
